@import url('https://fonts.googleapis.com/css2?family=Alata&family=Work+Sans:wght@900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Alata', sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  background-color: $bg-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
